// arduino_i2c: &i2c1 {
// 	compatible = "nordic,nrf-twi";
// 	status = "okay";
// 	clock-frequency = <I2C_BITRATE_FAST>;
// };

/* 
/ {
	chosen {
		zephyr,display = &st7735r_st7735r_ada_160x128;
	};
};
*/

/*
&pinctrl {
	spi0_default: spi0_default {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 0, 26)>,
				<NRF_PSEL(SPIM_MOSI, 0, 27)>,
				<NRF_PSEL(SPIM_MISO, 0, 28)>;
		};
	};

	spi0_sleep: spi0_sleep {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 0, 26)>,
				<NRF_PSEL(SPIM_MOSI, 0, 27)>,
				<NRF_PSEL(SPIM_MISO, 0, 28)>;
			low-power-enable;
		};
	};
};
*/
/*
arduino_spi: &spi0 {
//&spi0 {
	compatible = "nordic,nrf-spim";
	status = "okay";
	pinctrl-0 = <&spi0_default>;
	pinctrl-1 = <&spi0_sleep>;
	cs-gpios = <&gpio0 16 GPIO_ACTIVE_LOW>;
	pinctrl-names = "default", "sleep";
	
	st7735r: st7735r@0 {
		compatible = "sitronix,st7735r";
		spi-max-frequency = <20000000>;
		reg = <0>;
		cmd-data-gpios = <&gpio0 15 GPIO_ACTIVE_LOW>;	
		reset-gpios = <&gpio0 14 GPIO_ACTIVE_LOW>;	
		width = <160>;
		height = <80>;
		x-offset = <0>;
		y-offset = <0>;
		madctl = <0x60>;
		colmod = <0x55>;
		vmctr1 = <0x0e>;
		pwctr1 = [a2 02 84];
		pwctr2 = [c5];
		pwctr3 = [0a 00];
		pwctr4 = [8a 2a];
		pwctr5 = [8a ee];
		frmctr1 = [01 2c 2d];
		frmctr2 = [01 2c 2d];
		frmctr3 = [01 2c 2d 01 2c 2d];
		gamctrp1 = [02 1c 07 12 37 32 29 2d 29 25 2b 39 00 01 03 10];
		gamctrn1 = [03 1d 07 06 2e 2c 29 2d 2e 2e 37 3f 00 00 02 10];
	};


};

*/


// arduino_spi: &spi0 {
// 	compatible = "nordic,nrf-spim";
// 	status = "okay";
// 	pinctrl-0 = <&spi0_default>;
// 	pinctrl-1 = <&spi0_sleep>;
// 	cs-gpios = <&gpio0 25 GPIO_ACTIVE_LOW>;
// 	pinctrl-names = "default", "sleep";
	
// 	st7735r_st7735r_ada_160x128: st7735r@0 {
// 		compatible = "sitronix,st7735r";
// 		spi-max-frequency = <20000000>;
// 		reg = <0>;
// 		cmd-data-gpios = <&arduino_header 15 GPIO_ACTIVE_LOW>;	/* D9 */
// 		reset-gpios = <&arduino_header 14 GPIO_ACTIVE_LOW>;	/* D8 */
// 		width = <128>;
// 		height = <128>;
// 		x-offset = <0>;
// 		y-offset = <0>;
// 		madctl = <0x60>;
// 		colmod = <0x55>;
// 		vmctr1 = <0x0e>;
// 		pwctr1 = [a2 02 84];
// 		pwctr2 = [c5];
// 		pwctr3 = [0a 00];
// 		pwctr4 = [8a 2a];
// 		pwctr5 = [8a ee];
// 		frmctr1 = [01 2c 2d];
// 		frmctr2 = [01 2c 2d];
// 		frmctr3 = [01 2c 2d 01 2c 2d];
// 		gamctrp1 = [02 1c 07 12 37 32 29 2d 29 25 2b 39 00 01 03 10];
// 		gamctrn1 = [03 1d 07 06 2e 2c 29 2d 2e 2e 37 3f 00 00 02 10];
// 	};

// };

/ {
	chosen {
		zephyr,display = &st7735r_st7735r_ada_160x128;
	};
 };

&spi0 {
	//cs-gpios = <&arduino_header 16 GPIO_ACTIVE_LOW>;
	cs-gpios = <&gpio0 16 GPIO_ACTIVE_LOW>;
	clock-frequency = <DT_FREQ_M(3)>;
	st7735r_st7735r_ada_160x128: st7735r@0 {
		compatible = "sitronix,st7735r";
		spi-max-frequency = <DT_FREQ_M(3)>;
		cmd-data-gpios = <&gpio0 15 GPIO_ACTIVE_LOW>;
		reset-gpios = <&gpio0 14 GPIO_ACTIVE_LOW>;
		width = <128>;
		height = <128>;
	};
};

&st7735r_st7735r_ada_160x128 {
	spi-max-frequency = <DT_FREQ_M(3)>;
	//clock-frequency = <DT_FREQ_M(8)>;
};

&arduino_i2c {
	compatible = "nordic,nrf-twi";
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
	bmi088_g: bmi088-g@28 {
		compatible = "bosch,bmi08x-gyro";
		reg = <0x28>;
		status = "okay";
		gyro-fs = <2000>;
		gyro-hz = "400_47";
	};
};
