# Copyright (c) 2021, Legrand North America, LLC.
# SPDX-License-Identifier: Apache-2.0

config LV_HUD
	bool "Support for lv_hud library"
	help
	  This option enables the 'lv_hud' library

config LV_HUD_GET_VALUE_DEFAULT
	int "custom_get_value() default return value"
	depends on LV_HUD
	default 0
	help
	  This option primarily exists as an example of a library Kconfig
	  setting.

	  This option specifies the value for custom_get_value() to return
	  when the input parameter is zero. (Otherwise the function returns the
	  input parameter value.)
